
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}
span{
    text-decoration:underline;
}

h1{
    margin: 30px auto 0 auto;
    position: relative;
    font-family: 'Sacramento', cursive;
    font-size: 5.134rem;
    color: #ad7806;
    line-height: 1em;
}


h2{
    font-family: 'Montserrat', sans-serif;
    color: #5c4004;
    font-weight: bolder;
    margin-top: 40px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #ad7806;
}
a{
    color: #322303;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 10px;
    text-decoration: none;
}
a:hover{
    color: white;
}
hr{
    border: dotted #ebdec5 6px;
    border-bottom: none;
    width: 3%;
}
.top-cloud{
    position: relative;
    left: 250px;
    top: 40px;
}

.bottom-cloud{
position: absolute;
bottom: 350px;
left: 320px;
}

.pro{
    font-size: 1.6rem;
    margin: 0 auto auto auto;
    font-weight: normal;
    color: #5c4004;
}
.mtn{
    width: 550px;
    height: 400px;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin: 50px auto;
    text-align: left
}
.geek{
    float: left;
    margin-right: 20px;
}
.skill{
    float: right; /*clear is the opposite of float, clear:left*/
    margin-left: 20px;
}
.skills{
    margin: 80px;
}
.top_container{
    background-color:#FFF5E4;
    padding: 5px;
    position: relative; 
}
.middle-container{
    margin: 90px auto 100px auto;
}

.bottom-container{
    background-color:#ad7806;
    padding: 40px;
}

.profile{
    margin: 20px auto;
}
.pic{
    border-radius: 70%;
    height: 15%;
    width: 15%;
}
.intro{
    width: 30%;  
    margin: auto auto 80px auto;
}
.contact-me{
    margin: 70px auto;
}
.copy{
    color:white;
    font-size: 0.75rem;
    margin-top: 30px;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 10px;
    background: #a35c0c;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #cf8d1b;
    text-decoration: none;
  }
  
 